table {
    border-collapse: collapse;
    margin:0px;
}

tr > th {
    margin:0px;
    padding: 10px 20px;
    border:#A2B6C3 1px solid;
}

/*Format global values for all table rows in Schedule here*/
tr {
    height: auto;
}

/*Format global values for all generic table cells here*/
td {
    padding:4px;
    border-radius: 1px;
    border: #A2B6C3 1px solid;
}


/* Format image in first column here*/
ScheduleCarImg {
    height:48px;
}

/*Format Container with image and license plate text here*/
ScheduleCarContainer {

    display:flex;
    flex-direction:column;
    flex-wrap: wrap;

    padding:0px;
    margin:0px;

}


