.checkBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

.radioButton {
  padding: 5px;
}

.checkBox input,
.radioButton input {
  margin-right: 10px;
}

.checkBox label {
  font-weight: inherit;
  font-size: inherit;
  color: black;
}
