/* These are the buttons used in the prototype.
The colours used are:

Blue200: #9FBADB
Blue600: #31465F

Red300: #F95959
OR
Red400: #D32828 

Purple400: #8882F4

Gray200: #D1DAE0
Gray/Light100: #EAEEF1

*/
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap");

button {
  border-radius: 128px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Raleway";
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  height: fit-content;
  padding: 12px;
  cursor: pointer;
}

button:hover {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  transition: 0.2s;
  transform: scale(1.02);
}

.buttonLarge {
  font-size: 20px;
  padding: 16px;
}

.buttonMedium {
  font-size: 16px;
  padding: 10px;
}

.buttonSmall {
  font-size: 12px;
  padding: 4px;
}

/* Positioning of buttons depending on their role */

.stackedBtns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: fit-content;
}

.finishBtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.threeBtns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pickupAndReturnButtons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* Navigation buttons */

.navButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;
}

.navButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 290px;
  background-color: #f0f4f9;
  border: 1px solid #9fbadb;
  box-sizing: border-box;
  border-radius: 10px;
  color: #31465f;
  margin-left: 10px;
  margin-right: 10px;
}

.navButton h4 {
  text-align: center;
  color: #31465f;
}

.navButton:hover {
  background-color: #f95959;
  border: 0px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.navButton:hover h4 {
  color: white;
}

/* Adjusting buttons to smaller screens */
/* Tablets */
@media (max-width: 960px) {
  .navButtons {
    align-items: flex-start;
  }
  .navButton {
    flex-direction: column;
    width: 80%;
  }
}

@media (max-width: 960px) {
  .navButton {
    height: 80px;
    margin: 2px;
  }
}
