.inputField,
.inputFieldSmall,
.inputText {
  position: relative;
  margin-top: 5px;
}

.inputField input:focus,
.inputFieldSmall input:focus,
.inputText input:focus,
.inputFieldSearch input:focus,
select:focus {
  border: 1px solid #7b61ff;
  box-sizing: border-box;
  border-radius: 5px;
}
.inputField input {
  display: flex;
  flex-wrap: wrap;
  min-width: 256px;
  height: 48px;
  left: 460px;
  top: 275px;
  background-color: white;
  border: 1px solid #d1dae0;
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  font: inherit;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.inputFieldSmall input {
  display: flex;
  flex-wrap: wrap;
  width: 80px;
  height: 48px;
  left: 460px;
  top: 275px;
  background: #ffffff;
  border: 1px solid #d1dae0;
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 8px;
  font-size: 16px;
  font: inherit;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.inputText textarea {
  display: flex;
  flex-wrap: wrap;
  width: 256px;
  height: 128px;
  left: 460px;
  top: 275px;
  background-color: #ffffff;
  border: 1px solid #d1dae0;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  font: inherit;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.inputFieldSearch input {
  display: flex;
  flex-wrap: wrap;
  min-width: 256px;
  height: 48px;
  left: 460px;
  top: 275px;
  background-color: white;
  border: 1px solid #d1dae0;
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  font: inherit;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.inputField label,
.inputFieldSmall label,
.inputText label {
  position: absolute;
  top: 10px;
  color: gray;
  transition: 0.2s;
  pointer-events: none;
  padding: 5px;
  font-size: 16px;
  font-weight: lighter;
}

.inputField input[type="date"] ~ label,
.inputField input[type="time"] ~ label {
  top: -2px;
  font-size: 10px;
}

.inputField input:focus ~ label,
.inputField input:not(:focus):valid ~ label,
.inputFieldSmall input:focus ~ label,
.inputFieldSmall input:not(:focus):valid ~ label,
.inputText textarea:focus ~ label,
.inputText textarea:not(:focus):valid ~ label {
  top: -2px;
  font-size: 10px;
}

/* firstly, we take away the custom select appearance */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

/* Then we add our custom design */
select {
  background-color: white;
  font: inherit;
  min-width: 256px;
  height: 48px;
  background-color: white;
  border: 1px solid #d1dae0;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  font: inherit;
  cursor: pointer;
  margin-top: 5px;
  padding: 5px;
}

/* Styling for the searchbar */
.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchBar input {
  padding: 10px;
}

.searchBar input::placeholder {
  font-style: italic;
}
