.navButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 280px;
  background-color: #f0f4f9;
  border: 1px solid #9fbadb;
  box-sizing: border-box;
  border-radius: 10px;
  color: #31465f;
  margin-left: 10px;
  margin-right: 10px;
}

.button h4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #31465f;
  vertical-align: middle;
}

.button:hover {
  background-color: #f95959;
  border: 0px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.button:hover h4 {
  color: white;
}

/* Adjusting buttons to smaller screens */
/* iPhones */
@media (max-width: 360px) {
  .navButtons {
    flex-direction: column;
  }
}

@media (max-width: 360px) {
  .button {
    height: 32px;
  }
}

/* Tablets */
@media (max-width: 768px) {
  .navButtons {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .button {
    height: 64px;
    margin: 2px;
  }
}
