.pickup {
  width: 40%;
}

.pickupHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: aqua;
}

.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: aquamarine;
}

.attributeType {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(38, 128, 128);
  width: 40%;
  height: 64px;
  justify-content: flex-start;
  align-items: flex-start;
}

.carInfo,
.fuelandMileagefields {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: blueviolet;
}

.selectedCar,
.carGroup,
.fuelType,
.startingLevel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.attribute {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: brown;
  width: 60%;
  justify-content: center;
  align-items: flex-start;
}

.attribute2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: burlywood;
  width: 60%;
  justify-content: flex-end;
}

.icon {
  background-color: cadetblue;
}

.attribute input {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2px;
  width: 256px;
  height: 48px;
  left: 460px;
  top: 275px;
  background: #ffffff;
  border: 1px solid #d1dae0;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 16px;
  font-style: italic;
}

.attribute textarea {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2px;
  width: 256px;
  height: 128px;
  left: 460px;
  top: 275px;
  background: #ffffff;
  border: 1px solid #d1dae0;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 16px;
  font-style: italic;
}
