header {
    background-color: #20334B;

    height: 64px;
    width: 100%;
    display:flex;
    flex-direction:row;
    font-size:16px;
    font-weight: bolder;

}

.navtabs {
    background: #D32828;
    padding:10px;

    display: flex;

    flex-direction: row;
    justify-content:center;

    height:auto;
    color:white;
}

/*Navigation tab for the header navigation bar.
the clickety click that gets you to the 3 sub-sections of the page.
The nav tabs looked really, REALLY wide in 256.*/
.navtab {
    width: 192px;
/*     align-content: center;
    align-items: center; */
    height:100%;
    background-color:greenyellow;
    align-self: center;
    text-align: center;
}

.navTabActive {
    height: 64px;
    width: 256px;
    background-color: #D32828;
}

#Logo {
    padding-right:20px;
    height: 40px;
    pointer-events: none;
  }