.booking {
  width: 60%;
}

/* HEADING */
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* GENERAL */
hr {
  display: block;
  color: #d1dae0;
  background-color: #d1dae0;
  border-radius: 8px;
  height: 5px;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}

h5 {
  display: flex;
  flex-direction: inherit;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 180px;
  margin-top: 0;
}

/* LOGISTICS */
.rowLayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.columnLayout {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.location {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.driverInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 170px;
  width: 600px;
}

.searchExisting {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* Extra Services */
.extraServicesSelect,
.payment {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.extraDriverSelect,
.extraMileageSelect,
.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.centeredInputField {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: red;
}

.infoType {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 100px;
}

.searchBox input {
  display: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  width: 256px;
  height: 48px;
  left: 460px;
  top: 275px;
  background: #ffffff;
  border: 1px solid #d1dae0;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 16px;
  font-style: italic;
  padding: 5px;
}
