.booking {
  width: 60%;
}

/* HEADING */
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  margin-left: 10px;
}

.bookingNumber {
  margin-right: 10px;
}

/* GENERAL */

hr {
  display: block;
  color: #d1dae0;
  background-color: #d1dae0;
  border-radius: 8px;
  height: 5px;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}

h5 {
  display: flex;
  flex-direction: inherit;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 180px;
}

/* LOGISTICS */
.rowLayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.columnLayout {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.location {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: top;
  align-items: flex-start;
  height: 100px;
}

.columnLayout {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
}

.inputField {
  position: relative;
  margin-left: 10px;
}

.inputField input {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 256px;
  height: 48px;
  left: 460px;
  top: 275px;
  background-color: transparent;
  border: 1px solid #d1dae0;
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.inputField label {
  position: absolute;
  top: 10px;
  color: gray;
  transition: 0.2s;
  pointer-events: none;
  padding: 5px;
  font-size: 16px;
  font-weight: lighter;
}

.inputField input[type="date"] ~ label,
.inputField input[type="time"] ~ label {
  top: -20px;
  font-size: 12px;
}

.inputField input:focus ~ label,
.inputField input:not(:focus):valid ~ label {
  top: -20px;
  font-size: 12px;
}

.radiobButton {
  size: 2px;
}

.radioButton input {
  margin: 10px;
}

/* CAR GROUP */
/* firstly, we take away the custom select appearance, and then we add the custom */
.dropDown select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0px;
  background-color: transparent;
  font: inherit;
  border-radius: 0;
  display: left;
  width: 256px;
  height: 48px;
  left: 460px;
  top: 275px;
  background: transparent;
  border: 1px solid #d1dae0;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 16px;
  margin-left: 10px;
}

.carGroupDropDown select::-ms-expand {
  display: none;
}

/* Extra Services */
.extraServicesSelect,
.payment {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.extraDriverSelect,
.extraMileageSelect,
.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.centeredInputField {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: red;
}

.selectBox,
.infoType {
  margin-right: 100px;
  margin-left: 10px;
}

.searchBox input {
  display: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  width: 256px;
  height: 48px;
  left: 460px;
  top: 275px;
  background: #ffffff;
  border: 1px solid #d1dae0;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 16px;
  font-style: italic;
  padding: 5px;
}
