/* ------------- Global CSS ------------- */

/*--------------Global Font Import ------------*/

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

/* ----------- Global Colors-------------

    The colors are both defined in this file and in /values/colors.js
    The file includes a link to instructions on how to use it.

    I encourage you to use react to call from the colors.js file for practice and consistency.
    If you need to be quick, though, there is no shame in copying a hex-code.

    Good luck team, we've got this! -jodh

------ the ScanCar Blues  -------

Blue-700: #20334B;      this is our main black substitute and dark blue
Blue-600: #31465F;
Blue-500: #355C8A;
Blue-400: #3D6A9E;
Blue-300: #4B7DB9;      this is our main Blue
Blue-200: #9FBADB;
Blue-100: #F0F4F9;      this is our main white substitute

-------- the ScanCar Reds ------------------



*/

/* ------------- Default Body ---------------*/

body {
    font-family: 'Raleway', 'Arial', 'Helvetica', 'sans-serif';
    font-size: 16;
    background-color: white;
    color:black;
}

/* ------------- Headlines ---------------*/

h1, h2, h3 {
    font-family: 'IBM Plex Mono', 'Courier New', 'Courier', 'monospace';
    color: #20334B; 
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

h4, h5, h6 {
    font-family: 'IBM Plex Mono', 'Courier New', 'Courier', 'monospace';
    color: #3F39AF; 
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

/* ------------- Paragraph Font IDs ---------------

use <p id="yourId">your text here</p> in your HTML or react files
to set styling for blocks of text.
*/


#tiny {
    font-size: 8px;
}

#small {
    font-size: 12px;
}

#medium {
    font-size: 16px;
}

#large {
    font-size: 24px;
}

a {
    font-weight: bolder; /*Using bolder instead of semi-bold*/
    color: black;
}

a:visited {
    color:black;
}

