/* ------------- Global CSS ------------- */

/*--------------Global Font Import ------------*/

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Mono+Plex&display=swap');

/* ----------- Global Colors-------------
------ the ScanCar Blue -------

Dark 700 #20334B
Dark 600 #31465F

Blue 300 #4B7DB9 


*/


body {
    font-family: 'Raleway', 'Arial', 'Helvetica', 'sans-serif';
    font-size: 16;
    background-color: white;
    color:black;
}

h1, h2, h3 {
    font-family: 'IBM Plex Mono', 'Courier New', 'Courier', 'monospace';
    color: #20334B; 
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

h4, h5, h6 {
    font-family: 'IBM Plex Mono', 'Courier New', 'Courier', 'monospace';
    color: #3F39AF; 
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

#small {
    font-size: 12;
}

#medium {
    font-size: 16;
}

#large {
    font-size: 24;
}

a {
    font-weight: bolder; /*Using bolder instead of semi-bold*/
    color: black;
}

a:visited {
    color:black;
}