.App {
  display: grid;
  grid-template-columns: 256px 1fr;
  grid-template-rows: 80px 1fr;
  min-height: 100vh;
  grid-template-areas:
    "sidebar title"
    "sidebar content";
  grid-gap: 20px;
  margin-right: 20px;
}

.pageTitle {
  grid-area: title;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.pageContent {
  grid-area: content;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

@media (max-width: 960px) {
  .App {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 0.01fr 1fr;
    grid-template-areas:
      "sidebar"
      "title"
      "content";
    margin-right: 0;
    grid-gap: 20px;
  }

  .pageTitle {
    grid-area: title;
    grid-column: 1;
    grid-row: 2 / 3;
    height: fit-content;
  }

  .pageContent {
    grid-area: content;
    grid-column: 1;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
